name: Metrics
on:
  # Ejecutar diariamente a las 00:00 UTC
  schedule: [{cron: "0 0 * * *"}]
  # Permitir ejecuci칩n manual desde el dashboard de Actions
  workflow_dispatch:
  # Ejecutar al hacer push en la rama main
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Tu nombre de usuario de GitHub
          token: ${{ secrets.GITHUB_TOKEN }}
          
          # Configuraci칩n b치sica
          user: tu-usuario-github
          template: classic
          base: header, activity, community, repositories, metadata
          
          # Configuraci칩n de salida
          filename: github-metrics.svg
          
          # Plugins activados
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          
          plugin_lines: yes
          
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          
          plugin_notable: yes
          plugin_notable_from: organization
          
          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_days: 14
          plugin_activity_filter: all
          
          plugin_followup: yes
          plugin_followup_sections: repositories
          
          plugin_reactions: yes
          plugin_reactions_limit: 200
          plugin_reactions_days: 14
          